.venv/
artifacts/keras/
artifacts/saved_models/
build/
third_party/
.vscode/settings.json
*.Identifier
__pycache__/
*.pyc
.env

refs/
test/
augmented/
processed/
artifacts/perf/**
!artifacts/perf/results_table.csv
!artifacts/perf/results_table.md