[Unit]
Description=Starts the gesture recogniser service
After=sensehat-host-ip.service sensehat-clear.service
#Requires=sensehat-host-ip.service
Wants=sensehat-host-ip.service

[Service]
Type=simple
Restart=on-failure
User=kit-21
ExecStart=/home/kit-21/EAIProject/rps_fr_fr
WorkingDirectory=/home/kit-21/EAIProject/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
